
input {
    width: 80% !important;
}
.row.update {
    margin-top: 20px;
    display: flex;
    justify-content: center  !important;
}
.col-sm-6.row {
    margin-top: 20px;
}
.content {
    margin-left: 20px;
}